{% extends "layout.html" %}
{% block title %}{{ item.display_name }} :: {{ config.SITE_NAME }}{% endblock %}
{% block metatags %}
{% set uploader_name = item.user.username if (item.user and not item.anonymous) else 'Anonymous' %}
<meta property="og:description" content="{{ category_name(item.sub_category.id_as_string) }} | {{ item.filesize | filesizeformat(True) }} | Uploaded by {{ uploader_name }} on {{ item.created_time.strftime('%Y-%m-%d') }}">
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="panel panel-{% if item.deleted %}deleted{% elif item.remake %}danger{% elif item.trusted %}success{% else %}default{% endif %}">
	<div class="panel-heading"{% if item.hidden %} style="background-color: darkgray;"{% endif %}>
		<h3 class="panel-title">
			{% if can_edit %}
			<a href="{{ url_for('items.edit', item_id=item.id) }}" title="Edit item"><i class="fa fa-fw fa-pencil"></i></a>
			{% endif %}
			{{ item.display_name }}
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-1">Category:</div>
			<div class="col-md-5">
				<a href="{{ url_for('main.home', c=item.main_category.id_as_string) }}">{{ item.main_category.name }}</a> - <a href="{{ url_for('main.home', c=item.sub_category.id_as_string) }}">{{ item.sub_category.name }}</a>
			</div>

			<div class="col-md-1">Date:</div>
			<div class="col-md-5" data-timestamp="{{ item.created_utc_timestamp|int }}">{{ item.created_time.strftime('%Y-%m-%d %H:%M UTC') }}</div>
		</div>

		<div class="row">
			<div class="col-md-1">Submitter:</div>
			<div class="col-md-5">
				{% set user_url = item.user and url_for('users.view_user', user_name=item.user.username) %}
				{%- if not item.anonymous and item.user -%}
				<a class="text-{{ item.user.userlevel_color }}" href="{{ user_url }}" data-toggle="tooltip" title="{{ item.user.userlevel_str }}">{{ item.user.username }}</a>
				{%- else -%}
				Anonymous {% if item.user and (g.user == item.user or g.user.is_moderator) %}(<a class="text-{{ item.user.userlevel_color }}" href="{{ user_url }}" data-toggle="tooltip" title="{{ item.user.userlevel_str }}">{{ item.user.username }}</a>){% endif %}
				{%- endif -%}
				{% if g.user and g.user.is_superadmin and item.uploader_ip %}
				({{ item.uploader_ip_string }})
				{% endif %}
			</div>

			<div class="col-md-1">Seeders:</div>
			<div class="col-md-5"><span style="color: green;">{% if config.ENABLE_SHOW_STATS %}{{ item.stats.seed_count }}{% else %}Coming soon{% endif %}</span></div>

		</div>

		<div class="row">
			<div class="col-md-1">Information:</div>
			<div class="col-md-5">
				{% if item.information %}
				{{ item.information_as_link | safe }}
				{% else %}
				No information.
				{% endif%}
			</div>

			<div class="col-md-1">Leechers:</div>
			<div class="col-md-5"><span style="color: red;">{% if config.ENABLE_SHOW_STATS %}{{ item.stats.leech_count }}{% else %}Coming soon{% endif %}</span></div>
		</div>

		<div class="row">
			<div class="col-md-1">File size:</div>
			<div class="col-md-5">{{ item.filesize | filesizeformat(True) }}</div>

			<div class="col-md-1">Completed:</div>
			<div class="col-md-5">{% if config.ENABLE_SHOW_STATS %}{{ item.stats.download_count }}{% else %}Coming soon{% endif %}</div>
		</div>
		<div class="row">
			<div class="col-md-offset-6 col-md-1">Info hash:</div>
			<div class="col-md-5"><kbd>{{ item.item_directory }}</kbd></div>
		</div>
	</div><!--/.panel-body -->

	<div class="panel-footer clearfix">
		<a href="{{ url_for('items.download', item_id=item.id )}}"><i class="fa fa-download fa-fw"></i>Download Item</a><!-- or <a href="{{ item.magnet_uri }}" class="card-footer-item"><i class="fa fa-magnet fa-fw"></i>Magnet</a>> -->
		{% if g.user and g.user.age > config['RATELIMIT_ACCOUNT_AGE'] %}
		<button type="button" class="btn btn-xs btn-danger pull-right" data-toggle="modal" data-target="#reportModal">
			Report
		</button>
		{% endif %}
	</div>
</div><!--/.panel -->

<div class="panel panel-default">
	<div markdown-text class="panel-body" id="torrent-description">
		{%- if item.description -%}
		{# Escape newlines into html entities because CF strips blank newlines #}
		{{- item.description | escape | replace('\r\n', '\n') | replace('\n', '&#10;'|safe) -}}
		{%- else -%}
		#### No description.
		{%- endif -%}
	</div>
</div>

{% cache 86400, "filelist", item.item_directory %}
{% if files and files.__len__() <= config.MAX_FILES_VIEW %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">File list</h3>
	</div>

	<div class="torrent-file-list panel-body">
		<ul>
		{% for key, value in files.items() recursive -%}
		{% if value is iterable %}
			{% set pre_expanded = not loop.depth0 and value.items()|length <= 20 %}
			<li>
				<a href="" class="folder"><i class="fa fa-folder{% if pre_expanded %}-open{% endif %}"></i>{{ key }}</a>
				<ul{% if pre_expanded %} data-show="yes"{% endif %}>{{ '\n' + loop(value.items()) }}
				</ul>
			</li>
		{% else %}
			<li><i class="fa fa-file"></i>{{ key }} <span class="file-size">({{ value | filesizeformat(True) }})</span></li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
</div><!--/.panel -->
{% elif files %}
<div class="panel panel-default">
	<div class="panel-heading panel-heading-collapse">
		<h3 class="panel-title">
			Too many files to display.
		</h3>
	</div>
</div>
{% else %}
<div class="panel panel-default">
	<div class="panel-heading panel-heading-collapse">
		<h3 class="panel-title">
			File list is not available for this item.
		</h3>
	</div>
</div>
{% endif %}
{% endcache %}

<div id="comments" class="panel panel-default">
	<div class="panel-heading">
		<a data-toggle="collapse" href="#collapse-comments" role="button" aria-expanded="{% if g.user and g.user.preferences.hide_comments %}false{% else %}true{% endif %}" aria-controls="collapse-comments">
		<h3 class="panel-title">
			Comments - {{ item.comment_count }}
		</h3>
		</a>
	</div>
	<div class="collapse {% if g.user and g.user.preferences.hide_comments %}{% else %}in{% endif %}" id="collapse-comments">
	{% for comment in comments %}
	<div class="panel panel-default comment-panel" id="com-{{ loop.index }}">
		<div class="panel-body">
			<div class="col-md-2">
				<p>
					<a class="text-{{ comment.user.userlevel_color }}" href="{{ url_for('users.view_user', user_name=comment.user.username) }}" data-toggle="tooltip" title="{{ comment.user.userlevel_str }}">{{ comment.user.username }}</a>
					{% if comment.user.id == item.uploader_id and not item.anonymous %}
					(uploader)
					{% endif %}
				</p>
				<img class="avatar" src="{{ comment.user.gravatar_url() }}" alt="{{ comment.user.userlevel_str }}">
			</div>
			<div class="col-md-10 comment">
				<div class="row comment-details">
					<a href="#com-{{ loop.index }}"><small data-timestamp-swap data-timestamp="{{ comment.created_utc_timestamp|int }}">{{ comment.created_time.strftime('%Y-%m-%d %H:%M UTC') }}</small></a>
					{% if comment.edited_time %}
					<small data-timestamp-swap data-timestamp-title data-timestamp="{{ comment.edited_utc_timestamp }}" title="{{ comment.edited_time }}">(edited)</small>
					{% endif %}
					<div class="comment-actions">
						{% if g.user.id == comment.user_id and not comment.editing_limit_exceeded and (not item.comment_locked or comment_form) %}
						<button class="btn btn-xs edit-comment" title="Edit"{% if config.EDITING_TIME_LIMIT %} data-until="{{ comment.editable_until|int }}"{% endif %}>Edit</button>
						{% endif %}
						{% if g.user.is_superadmin or (g.user.id == comment.user_id and not item.comment_locked and not comment.editing_limit_exceeded) %}
						<form class="delete-comment-form" action="{{ url_for('items.delete_comment', item_id=item.id, comment_id=comment.id) }}" method="POST">
							<button name="submit" type="submit" class="btn btn-danger btn-xs" title="Delete">Delete</button>
						</form>
						{% endif %}
					</div>
				</div>
				<div class="row comment-body">
					{# Escape newlines into html entities because CF strips blank newlines #}
					<div markdown-text class="comment-content" id="torrent-comment{{ comment.id }}">{{- comment.text | escape | replace('\r\n', '\n') | replace('\n', '&#10;'|safe) -}}</div>
					{% if g.user.id == comment.user_id and comment_form %}
					<form class="edit-comment-box" action="{{ url_for('items.edit_comment', item_id=item.id, comment_id=comment.id) }}" method="POST">
						{{ comment_form.csrf_token }}
						<div class="form-group">
							<textarea class="form-control" name="comment" autofocus>{{- comment.text | escape | replace('\r\n', '\n') | replace('\n', '&#10;'|safe) -}}</textarea>
						</div>
						{% if config.USE_RECAPTCHA and g.user.age < config['ACCOUNT_RECAPTCHA_AGE'] %}
						<div class="row">
							<div class="col-md-4">
								{% if comment_form.recaptcha.errors %}
								<div class="alert alert-danger">
									<p><strong>CAPTCHA error:</strong></p>
									<ul>
										{% for error in comment_form.recaptcha.errors %}
										<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								{{ comment_form.recaptcha }}
							</div>
						</div>
						{% endif %}
						<input type="submit" value="Submit" class="btn btn-success btn-sm">
						<button class="btn btn-sm edit-comment" title="Cancel">Cancel</button>
						<span class="edit-error text-danger"></span>
						<div class="edit-waiting" style="display:none"></div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% endfor %}
	{% if item.comment_locked %}
	<div class="alert alert-warning">
		<p>
			<i class="fa fa-lock" aria-hidden="true"></i>
			Comments have been locked.
		</p>
	</div>
	{% endif %}
	{% if comment_form %}
	<form class="comment-box" method="POST">
		{{ comment_form.csrf_token }}
		<div class="row">
			<div class="col-md-12">
				{{ render_field(comment_form.comment, class_='form-control') }}
			</div>
		</div>
		{% if config.USE_RECAPTCHA and g.user.age < config['ACCOUNT_RECAPTCHA_AGE'] %}
		<div class="row">
			<div class="col-md-4">
				{% if comment_form.recaptcha.errors %}
				<div class="alert alert-danger">
					<p><strong>CAPTCHA error:</strong></p>
					<ul>
						{% for error in comment_form.recaptcha.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{{ comment_form.recaptcha }}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<input type="submit" value="Submit" class="btn btn-success btn-sm">
			</div>
		</div>
	</form>
	{% endif %}
	</div>
</div>

{% if g.user and g.user.age > config['RATELIMIT_ACCOUNT_AGE'] %}
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Report item #{{ item.id }}</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					Before submitting a report, please check that the item
					actually breaks <a href="{{ url_for('site.rules') }}">the
					rules</a>. Useless reports like "download is slow" or
					"thanks" can get you banned from the site.
				</div>
				<form method="POST" action="{{ url_for('items.report', item_id=item.id) }}">
					{{ report_form.csrf_token }}
					{{ render_field(report_form.reason, class_='form-control', maxlength=255) }}
					<div style="float: right;">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="reportSubmit" class="btn btn-danger">Report</button>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="border-top: none;">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// Focus the report text field once the modal is opened.
	$('#reportModal').on('shown.bs.modal', function () {
		$('#reason').focus();
		$('#reportSubmit').attr('disabled', true);
	});
	$('#reason').on('input', function(e) {
		if($('#reason').val().length > 0) {
			$('#reportSubmit').removeAttr('disabled');
		} else {
			$('#reportSubmit').attr('disabled', true);
		}
	});
</script>
{% endif %}

{% endblock %}
